/* CSS declarations go here */
.caseSearchMargin {
	margin-top: 4%;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

ul#messages li {
	display: block;
	width: 80%;
	margin: 5px auto;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	z-index: 1000;
	position:absolute;
}

/* Background color is green for information */
ul#messages li.info {
	background: #7f7;
}

/* Background color is red for error*/
ul#messages li.error {
	background: #d00;
	color: white;
}

.required-field::before { 
    content: "*";
    color: red;
}

.messageError {
	color: red;
}

.messageSuccess {
	color: green;
}

.charNum {
	color: red;
}

.iconButton {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;	
}

.header {
	font-weight: 500;
	font-size: xx-large;
	overflow:hidden
}

.displayLeft {
	float: left;
}

.displayRight {
	float: right;
}

.blueText {
	color: blue;
}

.selectBorder-placeholder{
  border:1px solid rgba(0,0,0,.15);
  margin:10px;
  margin-left:15px;
}
	
.selectBorder-placeholder>label{
  position:absolute;
  top:-18px;
  left:20px;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
}

.selectBorder-placeholder>select{
  border:none;
}

.inputBorder-placeholder{
  border:1px solid rgba(0,0,0,.15);
  margin:10px;
  margin-left:15px;
}

.inputBorder-placeholder:focus{
	border-color:#5cb3fd
}

.inputBorder-placeholder>label{
  position:absolute;
  top:-18px;
  left:20px;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
}

.inputBorder-placeholder>input{
  border:none;
}