<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/home :: htmlhead">
</head>
<body>
	<div th:replace="fragments/home :: header">&nbsp;</div>
	<div class="container-fluid text-center">
		<div class="row content">
			<div th:replace="fragments/caseMenu :: caseMenu">&nbsp;</div>
			<div class="col-sm-10 text-left" id="studentBankDetailsTab">
				<div>
					<div class="header">
						<div class="displayLeft" id="bankAccountDetailsHeader" th:text="#{bankAccountDetails.header}">Bank
							Account Details</div>
						<div class="displayRight" th:if="${fileNo}">
							File # <label class="blueText" th:text="${fileNo}">File
								No Value</label>
						</div>
					</div>
					<form id="bankAcountDetailsForm" role="form"
						th:action="@{/studentFile/bankAccountDetails}" method="post">
						<input type="hidden" th:value="${fileNo}" name="fileNo" />

						<table class="table table-hover">
							<thead>
								<tr>
									<th th:text="#{bankAccountDetails.ToBeUsed.th}">To be used</th>
									<th th:text="#{bankAccountDetails.AccountNumber.th}">Account
										Number</th>
									<th th:text="#{bankAccountDetails.BankName.th}">Bank Name</th>
									<th th:text="#{bankAccountDetails.Branch.th}">Branch</th>
									<th th:text="#{bankAccountDetails.IFSCCode.th}">IFSC Code</th>
									<th th:text="#{bankAccountDetails.AccountHolderName1.th}">Account
										Holder Name 1</th>
									<th th:text="#{bankAccountDetails.AccountHolderName2.th}">Account
										Holder Name 2</th>
									<th th:text="#{bankAccountDetails.AccountHolderName3.th}">Account
										Holder Name 3</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="row,rowStat : ${entityBankDetailsList}">
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].isCurrent}">Radio
											Button</label></td>
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].bankAccountNo}">10
											digit Account # </label></td>
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].bankName}">SBI</label></td>
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].branch}">Mumbai</label></td>
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].ifscCode}">SBI0001</label></td>
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].accountHolderName1}">Name
											1</label></td>
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].accountHolderName2}">Name
											1</label></td>
									<td><label
										th:text="*{entityBankDetailsList[__${rowStat.index}__].accountHolderName3}">Name
											1</label></td>
									<td>
										<button type="submit" name="editEntityBankDetails"
											th:title="#{familyDetails.EditAccountDetails.th}"
											th:value="*{entityBankDetailsList[__${rowStat.index}__].id}"
											class="fa fa-pencil-square-o fa-lg iconButton"></button>
									</td>
									<td>
										<button type="submit" name="removeEntityBankDetails"
											th:title="#{familyDetails.RemoveAccountDetails.th}"
											th:value="*{entityBankDetailsList[__${rowStat.index}__].id}"
											class="fa fa-trash-o fa-lg iconButton"></button>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="form-group row" id="firstRowLabel">

							<div class="col-sm-6">
								<label
									th:if="${#fields.hasErrors('entityBankDetails.bankAccountNo')}"
									th:errors="${entityBankDetails.bankAccountNo}"
									class="validation-message"></label>
							</div>

							<div class="col-sm-6">
								<label
									th:if="${#fields.hasErrors('entityBankDetails.bankName')}"
									th:errors="${entityBankDetails.bankName}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="firstRow">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{bankAccountDetails.entityBankDetails.bankAccountNo.label}">Bank
											Account No</label> <input type="text"
											th:field="${entityBankDetails.bankAccountNo}"
											class="form-control" maxlength="25" /> <input type="hidden"
											th:field="${entityBankDetails.id}" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{bankAccountDetails.entityBankDetails.bankName.label}">Bank
											Name</label> <input type="text"
											th:field="${entityBankDetails.bankName}" class="form-control"
											maxlength="100" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
						</div>

						<div class="form-group row" id="secondRowLabel">
							<div class="col-sm-6">
								<label th:if="${#fields.hasErrors('entityBankDetails.branch')}"
									th:errors="${entityBankDetails.branch}"
									class="validation-message"></label>
							</div>

							<div class="col-sm-6">
								<label
									th:if="${#fields.hasErrors('entityBankDetails.ifscCode')}"
									th:errors="${entityBankDetails.ifscCode}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="secondRow">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{bankAccountDetails.entityBankDetails.branch.label}">Branch</label>
										<input type="text" th:field="${entityBankDetails.branch}"
											class="form-control" maxlength="100" />
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{bankAccountDetails.entityBankDetails.ifscCode.label}">IFSC
											Code</label> <input type="text"
											th:field="${entityBankDetails.ifscCode}" class="form-control"
											maxlength="25" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
						</div>

						<div class="form-group row" id="thirdRowLabel">

							<div class="col-sm-4">
								<label
									th:if="${#fields.hasErrors('entityBankDetails.accountHolderName1')}"
									th:errors="${entityBankDetails.accountHolderName1}"
									class="validation-message"></label>
							</div>

							<div class="col-sm-4">
								<label
									th:if="${#fields.hasErrors('entityBankDetails.accountHolderName2')}"
									th:errors="${entityBankDetails.accountHolderName2}"
									class="validation-message"></label>
							</div>

							<div class="col-sm-4">
								<label
									th:if="${#fields.hasErrors('entityBankDetails.accountHolderName3')}"
									th:errors="${entityBankDetails.accountHolderName3}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="thirdRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{bankAccountDetails.entityBankDetails.accountHolderName1.label}">First
											Account Holder's Name</label> <input type="text"
											th:field="${entityBankDetails.accountHolderName1}"
											class="form-control" maxlength="300" /> <input type="hidden"
											th:field="${entityBankDetails.id}" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{bankAccountDetails.entityBankDetails.accountHolderName2.label}">Second
											Account Holder's Name</label> <input type="text"
											th:field="${entityBankDetails.accountHolderName2}"
											class="form-control" maxlength="300" />
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{bankAccountDetails.entityBankDetails.accountHolderName3.label}">Third
											Account Holder's Name</label> <input type="text"
											th:field="${entityBankDetails.accountHolderName3}"
											class="form-control" maxlength="300" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="fourthRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label
											class="form-check-label"> <input type="checkbox"
											th:field="${entityBankDetails.isCurrent}"
											class="form-check-input" /> Is this account to be used in
											the payments?
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="fifthRow">
							<div class="col-sm-4">
								<button type="submit" th:text="${bankAction}"
									name="addUpdateBankAccountDetails">Add/Update Bank
									Account Details</button>
							</div>
						</div>
						<div class="form-group row" id="sixthRow">
							<div class="col-sm-6"></div>
							<div class="col-sm-2"></div>
							<div class="col-sm-2"></div>
							<div class="col-sm-2">
								<button type="submit" id="btnContinue"
									name="continueFromBankDetails"
									class="form-control btn btn-primary"
									th:text="#{bankAccountDetails.continue.button}">Continue</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/home :: notifyMessages">&nbsp;</div>
	</div>
	<div th:replace="fragments/home :: javascriptFiles">&nbsp;</div>
</body>
</html>