<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/home :: htmlhead">
</head>
<body>
	<div th:replace="fragments/home :: header">&nbsp;</div>
	<div class="container-fluid text-center">
		<div class="row content">
			<div th:replace="fragments/userProfileMenu :: userProfileMenu">&nbsp;</div>
			<div class="col-sm-10 text-left" id="changePasswordTab">
				<div>
					<div class="form-group row header" id="zeroRow">
						<div class="col-sm-4 displayLeft" id="changePasswordHeader" th:text="#{changePassword.header}"></div>
					</div>
					<div class="form-group row" id="firstRow">
						<div class="col-sm-4">
							<div class="row">
								<div class="col-sm-9 inputBorder-placeholder">
									<label th:text="#{changePassword.oldPassword.label}">Old Password</label>
									<input
									type="password" id="oldpass" name="oldpassword"
									class="form-control" />
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row" id="secondRow">
						<div class="col-sm-4">
							<div class="row">
								<div class="col-sm-9 inputBorder-placeholder">
									<label th:text="#{changePassword.newPassword.label}">New Password</label>
									<input type="password" id="pass" name="password"
										class="form-control" />
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row" id="thirdRow">
						<div class="col-sm-4">
							<div class="row">
								<div class="col-sm-9 inputBorder-placeholder">
									<label th:text="#{changePassword.confirmNewPassword.label}">Confirm New Password</label>
									<input type="password"
										id="passConfirm"
										class="form-control" />
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row" id="fourthRow">
						<div class="col-sm-2">
							<button type="submit" class="btn btn-primary btn-block"
								onclick="savePass()"
								th:text="#{changePassword.update.button}">Change Password</button>
						</div>
						<div class="col-sm-10"></div>
					</div>
					<div class="form-group row" id="fifthRow">
						<div class="col-sm-12">
							<div id="errormsg" style="display:none" class="alert alert-danger"></div>
						</div>
					</div>
					<div class="form-group row" id="sixthRow">
						<div class="col-sm-12">
							<div th:if="${message != null}" class="alert alert-info" th:text="${message}">message</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments/home :: modalFragment">&nbsp;</div>
		<div th:replace="fragments/home :: notifyMessages">&nbsp;</div>
	</div>
	<div th:replace="fragments/home :: javascriptFiles">&nbsp;</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var serverContext = [[@{/}]];
		function savePass(){
			var oldpass = $("#oldpass").val();
		    var pass = $("#pass").val();
		    var passConfirm = $("#passConfirm").val()
		    if(oldpass.trim() == "" || pass.trim() == "" || passConfirm.trim() == "") {
		      $("#errormsg").show().html(/*[[#{PasswordEmpty.user}]]*/);;
		      return;
		    }
		    var valid = pass == passConfirm;
		    if(!valid) {
		      $("#errormsg").show().html(/*[[#{PasswordMatches.user}]]*/);
		      return;
		    }
		    
		    $.post(serverContext + "user/changePassword",
		      {password: pass, oldpassword: $("#oldpass").val()} ,function(data){
		        window.location.href = serverContext +"login?message="+data.message;
		    })
		    .fail(function(data) {
		        $("#errormsg").show().html(data.responseJSON.message);
		    });
		}
		/*]]>*/
</script>
</body>
</html>