<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Student Scholarship Application</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
  	<script src="../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
  	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  	<script src="../js/bootstrap-4.0.0.min.js" th:src="@{/js/bootstrap-4.0.0.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="form-signin">
			<form autocomplete="off" action="#" th:action="@{/user/registration}"
				th:object="${user}" method="post" class="form-horizontal"
				role="form">
				<div class="form-signin-heading">
					<h3 th:text="#{registration.welcome.label}"></h3>
					<img th:src="@{/images/sundershewaksabhalogo.jpg}" class="img-responsive mx-auto" width="200" height="200" alt="Logo" />
				</div>
				<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
						class="validation-message"></label>
				<input type="text" th:field="*{firstName}" th:placeholder="#{registration.user.firstName.label}"
						class="form-control" /><br/>

				<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
						class="validation-message"></label>
				<input type="text" th:field="*{lastName}"
					th:placeholder="#{registration.user.lastName.label}" class="form-control" /><br/>
				
				<label th:if="${#fields.hasErrors('emailID')}" th:errors="*{emailID}"
					class="validation-message"></label>
				<input type="text" th:field="*{emailID}" th:placeholder="#{registration.user.email.label}"
					class="form-control" /><br/>
				
				<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
					class="validation-message"></label>
				<input type="password" th:field="*{password}"
					th:placeholder="#{registration.user.password.label}" class="form-control" />

				<button type="submit" class="btn btn-primary btn-block" th:text="#{registration.user.register.button}">Register User</button><br/>
				
				<span th:utext="${successMessage}"></span>
			</form>
			<a class="mr-sm-6" th:href="@{/}" th:text="#{registration.navigateToLoginPage.anchor}">
			</a>
		</div>
	</div>

</body>
</html>