<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/home :: htmlhead">
</head>
<body>
	<div th:replace="fragments/home :: header">&nbsp;</div>
	<div class="container-fluid text-center">
		<div class="row content">
			<div th:replace="fragments/caseMenu :: caseMenu">&nbsp;</div>
			<div class="col-sm-10 text-left" id="studentResidenceDetailsTab">
				<div>
					<div class="header">
						<div class="displayLeft" id="residenceDetailsHeader" th:text="#{residenceDetails.header}">Residence
							Details</div>
						<div class="displayRight" th:if="${fileNo}">
							Case # <label class="blueText" th:text="${fileNo}">Case
								No Value</label>
						</div>
					</div>
					<form id="residenceDetailsForm" role="form"
						th:action="@{/studentFile/residenceDetails}" method="post">
						<input type="hidden" th:value="${fileNo}" name="fileNo" />



						<div class="form-group row" id="firstRowLabel">

							<div class="col-sm-6">
								<label
									th:if="${#fields.hasErrors('residenceDetails.residenceOwnership')}"
									th:errors="${residenceDetails.residenceOwnership}"
									class="validation-message"></label>
							</div>

							<div id="residenceRentAmountErrorDiv" class="col-sm-6 hideElement">
								<label
									th:if="${#fields.hasErrors('residenceDetails.residenceRentAmount')}"
									th:errors="${residenceDetails.residenceRentAmount}"
									class="validation-message"></label>
							</div>

							<div id="residenceOwnershipOtherDescriptionErrorDiv" class="col-sm-6 hideElement">
								<label
									th:if="${#fields.hasErrors('residenceDetails.residenceOwnershipOtherDescription')}"
									th:errors="${residenceDetails.residenceOwnershipOtherDescription}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="firstRow">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-9 selectBorder-placeholder">
										<label th:text="#{residenceDetails.residenceOwnership.label}">Residence
											Ownership</label> <select class="form-control"
											th:field="${residenceDetails.residenceOwnership}">
											<option value="NONE" th:text="#{default.dropdown.option}">---
												Select ---</option>
											<option
												th:each="residenceOwnership : ${T(com.tripleS.enums.ResidenceOwnershipEnum).values()}"
												th:value="${{residenceOwnership}}"
												th:selected="${residenceOwnership == T(com.tripleS.enums.ResidenceOwnershipEnum)}"
												th:text="${residenceOwnership.getDisplayName()}"></option>
										</select> <input type="hidden" th:field="${residenceDetails.id}" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
							<div id="residenceRentAmountDiv" class="col-sm-6 hideElement">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label th:text="#{residenceDetails.residenceRentAmount.label}">Residence
											Rent Amount</label> <input type="text"
											th:field="${residenceDetails.residenceRentAmount}"
											class="form-control" maxlength="50" /> <input type="hidden"
											th:field="${residenceDetails.id}" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
							<div id="residenceOwnershipOtherDescriptionDiv" class="col-sm-6 hideElement">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label
											th:text="#{residenceDetails.residenceOwnershipOtherDescription.label}">If
											other, please describe</label> <input type="text"
											th:field="${residenceDetails.residenceOwnershipOtherDescription}"
											class="form-control" maxlength="500" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
						</div>

						<div class="form-group row" id="secondRowLabel">
							<div class="col-sm-6">
								<label
									th:if="${#fields.hasErrors('residenceDetails.residenceType')}"
									th:errors="${residenceDetails.residenceType}"
									class="validation-message"></label>
							</div>

							<div class="col-sm-6">
								<label
									th:if="${#fields.hasErrors('residenceDetails.residenceSizeInSqft')}"
									th:errors="${residenceDetails.residenceSizeInSqft}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="secondRow">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-9 selectBorder-placeholder">
										<label th:text="#{residenceDetails.residenceType.label}">Residence
											Type</label> <select class="form-control"
											th:field="${residenceDetails.residenceType}">
											<option value="NONE" th:text="#{default.dropdown.option}">---
												Select ---</option>
											<option
												th:each="residenceType : ${T(com.tripleS.enums.ResidenceTypeEnum).values()}"
												th:value="${{residenceType}}"
												th:selected="${residenceType == T(com.tripleS.enums.ResidenceTypeEnum)}"
												th:text="${residenceType.getDisplayName()}"></option>
										</select>
									</div>
									<label class="required-field"></label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label th:text="#{residenceDetails.residenceSizeInSqft.label}">Approximate
											Size in Sq. ft.</label> <input type="text"
											th:field="${residenceDetails.residenceSizeInSqft}"
											class="form-control" maxlength="10" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
						</div>
						<div class="form-group row" id="thirdRow">
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-11">
										<h4 th:text="#{residenceDetails.facilitiesOwned.label}">Facilities
											owned by your family</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="fourthRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox"
											th:field="${residenceDetails.haveWaterSupply}"
											class="form-check-input" />Water Supply
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveBathroom}"
											class="form-check-input" /> Bathroom
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveToilet}"
											class="form-check-input" />Toilet
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="fifthRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveCotBed}"
											class="form-check-input" />Cot/bed
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveCupBoard}"
											class="form-check-input" />Cupboard
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveCookingGas}"
											class="form-check-input" />Cooking Gas
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="sixthRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveTelevision}"
											class="form-check-input" />Television
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox"
											th:field="${residenceDetails.haveRefrigerator}"
											class="form-check-input" />Refrigerator
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox"
											th:field="${residenceDetails.haveWashingMachine}"
											class="form-check-input" />Washing Machine
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="seventhRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveOven}"
											class="form-check-input" />Oven
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveComputer}"
											class="form-check-input" />Computer/Laptop
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="eighthRowLabel">
							<div class="col-sm-4">
								<label
									th:if="${#fields.hasErrors('residenceDetails.haveVehicle')}"
									th:errors="${residenceDetails.haveVehicle}"
									class="validation-message"></label>
							</div>

							<div id="vehicleDescriptionErrorDiv" class="col-sm-4 hideElement">
								<label
									th:if="${#fields.hasErrors('residenceDetails.vehicleDescription')}"
									th:errors="${residenceDetails.vehicleDescription}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="eighthRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11 form-check form-check-inline">
										<label class="form-check-label"> <input
											type="checkbox" th:field="${residenceDetails.haveVehicle}"
											class="form-check-input" />Vehicle
										</label>
									</div>
								</div>
							</div>
							<div id="vehicleDescriptionDiv" class="col-sm-4 hideElement">
								<div class="row">
									<div class="col-sm-9 inputBorder-placeholder">
										<label th:text="#{residenceDetails.vehicleDescription.label}">If
											you have vehicle, provide details</label> <input type="text"
											th:field="${residenceDetails.vehicleDescription}"
											class="form-control" maxlength="50" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="ninthRow">
							<div class="col-sm-6"></div>
							<div class="col-sm-2">
								<button th:text="#{residenceDetails.clear.button}" type="button"
									id="btnClear" class="form-control btn btn-secondary">Clear</button>
							</div>
							<div class="col-sm-2">
								<button th:text="#{residenceDetails.save.button}" type="submit"
									id="btnSave" name="saveResidenceDetails"
									class="form-control btn btn-primary">Save</button>
							</div>
							<div class="col-sm-2">
								<button th:text="#{residenceDetails.saveContinue.button}"
									type="submit" id="btnSaveContinue"
									name="saveContinueResidenceDetails"
									class="form-control btn btn-primary">Save &amp;
									Continue</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/home :: notifyMessages">&nbsp;</div>
	</div>
	<div th:replace="fragments/home :: javascriptFiles">&nbsp;</div>
</body>
</html>