<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Student Scholarship Application</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/bootstrap.min.css}" />
		<script src="../js/jquery-3.1.1.min.js"
			th:src="@{/js/jquery-3.1.1.min.js}"></script>
		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
		<script src="../js/bootstrap-4.0.0.min.js"
			th:src="@{/js/bootstrap-4.0.0.min.js}"></script>
		</head>
	
	<body>
		<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
			<div class="container">
				<div class="row">
					<h1 th:text="#{message.resetYourPassword}">reset</h1>
					<form>
						<br /> <label class="col-sm-2" th:text="#{login.password.label}">password</label>
						<span class="col-sm-5"><input class="form-control"
							id="password" name="newPassword" type="password" value="" /></span>
						<div class="col-sm-12"></div>
						<br /> <br /> <label class="col-sm-2"
							th:text="#{login.confirmPassword.label}">confirm</label> <span
							class="col-sm-5"><input class="form-control"
							id="matchPassword" type="password" value="" /></span>
						<div id="globalError" class="col-sm-12 alert alert-danger"
							style="display: none" th:text="#{PasswordMatches.user}">error</div>
	
						<div class="col-sm-12">
							<br /> <br />
							<button class="btn btn-primary" type="submit" onclick="savePass()"
								th:text="#{message.updatePassword}">submit</button>
						</div>
					</form>
	
				</div>
			</div>
	
			<script th:inline="javascript">
	/*<![CDATA[*/
	var serverContext = [[@{/}]];
	
	$(document).ready(function () {
	    $('form').submit(function(event) {
	        savePass(event);
	    });
	    
	});
	
	function savePass(event){
	    
	    if($("#password").val() != $("#matchPassword").val()){
	        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
	        return;
	    }
	    var formData= $('form').serialize();
	    $.post(serverContext + "user/savePassword",formData ,function(data){
	        window.location.href = serverContext + "login?message="+data.message;
	    })
	    .fail(function(data) {
	        if(data.responseJSON.error.indexOf("InternalError") > -1){
	        	window.location.href = serverContext + "login?message=" + data.responseJSON.message;
	        }
	        else{
	            var errors = $.parseJSON(data.responseJSON.message);
	            $.each( errors, function( index,item ){
	                $("#globalError").show().html(item.defaultMessage);
	            });
	            errors = $.parseJSON(data.responseJSON.error);
	            $.each( errors, function( index,item ){
	                $("#globalError").show().append(item.defaultMessage+"<br/>");
	            });
	        }
	    });
	}
	/*]]>*/ 
	
	</script>
		</div>
	</body>
</html>