<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Student Scholarship Application</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/bootstrap.min.css}" />
	</head>
	
	<body>
		<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
			<div class="container">
				<div class="form-signin">
					<form>
						<div class="form-signin-heading">
							<h3 th:text="#{message.resetYourPassword}"></h3>
							<img th:src="@{/images/sundershewaksabhalogo.jpg}"
								class="img-responsive mx-auto" width="200" height="200" alt="Logo" />
						</div>
						<br /> <input class="form-control"
							id="password" name="newPassword" type="password" th:placeholder="#{updatePassword.newPassword.label}" value="" />
						<br /> <input class="form-control"
							id="matchPassword" type="password" th:placeholder="#{updatePassword.confirmPassword.label}" value="" />
						<br />
						<div id="globalError" class="alert alert-danger"
							style="display: none" th:text="#{PasswordMatches.user}">error</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit" onclick="savePass()"
							th:text="#{updatePassword.updatePassword.button}">Update Password</button>
					</form>
				</div>
			</div>
			<script src="../js/jquery-3.1.1.min.js"
				th:src="@{/js/jquery-3.1.1.min.js}"></script>
			<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
			<script src="../js/bootstrap-4.0.0.min.js"
				th:src="@{/js/bootstrap-4.0.0.min.js}"></script>
			<script th:inline="javascript">
	/*<![CDATA[*/
	var serverContext = [[@{/}]];
	
	$(document).ready(function () {
	    $('form').submit(function(event) {
	        savePass(event);
	    });
	    
	});
	
	function savePass(event){
	    
		if($("#password").val().trim() == "" || $("#matchPassword").val().trim() == ""){
	        $("#globalError").show().html(/*[[#{PasswordEmpty.user}]]*/);
	        return;
	    }
		
	    if($("#password").val() != $("#matchPassword").val()){
	        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
	        return;
	    }
	    var formData= $('form').serialize();
	    $.post(serverContext + "user/savePassword",formData ,function(data){
	        window.location.href = serverContext + "login?message="+data.message;
	    })
	    .fail(function(data) {
	        if(data.responseJSON.error.indexOf("InternalError") > -1){
	        	window.location.href = serverContext + "login?message=" + data.responseJSON.message;
	        }
	        else{
	            var errors = $.parseJSON(data.responseJSON.message);
	            $.each( errors, function( index,item ){
	                $("#globalError").show().html(item.defaultMessage);
	            });
	            errors = $.parseJSON(data.responseJSON.error);
	            $.each( errors, function( index,item ){
	                $("#globalError").show().append(item.defaultMessage+"<br/>");
	            });
	        }
	    });
	}
	/*]]>*/ 
	
	</script>
		</div>
	</body>
</html>